
@{
    ViewData["Title"] = "WEATHER APP";
 }

<div class="box float-left w-50"> 
    <div class="text-green">
            @ViewBag.WeatherGetCities

<table>
    <thead>
        <tr>
            <th>City Unique Code</th>
            <th>City Name</th>
            <th>Date and Time</th>
            <th>Temperature (Fahrenheit)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CityUniqueCode</td>
                <td>@item.CityName</td>
                <td>@item.DateAndTime.ToString("yyyy-MM-dd HH:mm")</td>
                <td>@item.TemperatureFahrenheit</td>
            </tr>
        }
    </tbody>
</table>
    </div>
</div>